[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
matplotlib = "*"
numpy = "*"
scikit-learn = "*"
tensorboard = "*"
torch = "*"
torchvision = "*"
tqdm = "*"

[dev-packages]
altair = "*"
black = "*"
jupyter = "*"
pandas = "*"
pytest = "*"
ruff = "*"
streamlit = ">=1.33.0"

[requires]
python_version = "3.13"
