[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
numpy = "*"
torch = "*"
torchvision = "*"

[dev-packages]
black = "*"
pytest = "*"
ruff = "*"

[requires]
python_version = "3.13"
